{% extends "base.html" %}
{% block title %}Запрашиваемая страница не найдена{% endblock %}

{% block content %}
    <div class="ice-tabs-candy ice-bottom-sl-candy">
        <div class="ice-main-wapper" style="width:685px;">
            <div class="ice-main-item" style="display:block;">
                <div class="ice-description">
                    <h1>Запрашиваемая страница не найдена</h1>
                   Страница не найдена. Проверьте правильность ввода адреса или воспользуйтесь навигационным меню.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
