{% extends "base.html" %}
{% block title %}Запрашиваемая страница не найдена{% endblock %}

{% block content %}
    <div class="ice-tabs-candy ice-bottom-sl-candy">
        <div class="ice-main-wapper" style="width:685px;height:200px;">
            <div class="ice-main-item" style="display:block;">
                <div class="ice-description">
                    <h3 class="mod-title">Запрашиваемая страница не найдена</h3>
                   Проверьте правильность ввода адреса или воспользуйтесь навигационным меню.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
