<div id="footer">
<div class="wrapper clearfix">
<div class="width25 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Заказ
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu">
<li class="item-517"><a href="/about/payment/" >Оплата и доставка</a></li>
</div>
</div>
</div>
</div>
<div class="width25 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Продукция
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu">
<li class="item-518"><a href="/catalog/">Каталог продукции</a></li>
<li class="item-519"><a href="/services/2/" >Установка</a></li>
</div>
</div>
</div>
</div>
<div class="width25 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">О компании
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu">
<li class="item-523"><a href="/about/" >О нас</a></li>
<li class="item-527"><a href="/about/contacts/" >Контакты</a></li></ul>
</div>
</div>
</div>
</div>
<!--<div class="width25 floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Get Connected
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu" id="connect">
<li class="item-528"><a href="#41" ><img src="{{ STATIC_URL }}images/icon_facebook.png" alt="Facebook Page" /><span class="image-title">Facebook Page</span> </a></li>
<li class="item-529"><a href="#42" ><img src="{{ STATIC_URL }}images/icon_twitter.png" alt="Twitter Page" /><span class="image-title">Twitter Page</span> </a></li>
</ul>
</div>
</div>
</div>
</div>-->
</div>
</div><!-- Footer -->
<!-- Copyright -->
<div id="copyright">
<div class="wrapper">
<!--<div id="icelogo">
<p><a href="http://www.icetheme.com"><span>Joomla Template Designed by IceTheme</span></a></p>
</div>-->
<div id="copyrightmenu">
<!--<ul class="menu">
<li class="item-532"><a href="#" >Terms of Use</a></li><li class="item-533"><a href="#" >Copyright</a></li><li class="item-534"><a href="#" >Privacy &amp; Policy</a></li></ul>-->
</div>
<div id="copytext" class="floatleft">
<div class="footer1">Copyright &#169; {% now "Y" %}</div>
</div>
<!--<script type="text/javascript">
window.addEvent('domready',function() { new SmoothScroll({ duration: 800 }); })
</script>-->
<a id="go2top" href="#topbar" class="hasTip" title="Go to Top" ><span>Go to Top</span></a>
</div>
</div><!-- Copyright -->
