<!-- Accessibility 
<ol id="accessibility">
<li><a href="#nav-wrapper">Skip to Menu</a></li>
<li><a href="#content">Skip to Content</a></li>
<li><a href="#footer" >Skip to Footer</a></li>
</ol>
Accessibility -->
<!-- TopBar -->
<div id="topbar_wrapper">
<div id="topbar">
<div class="wrapper">
<div id="contact_nr">

<div class="custom" >
<p>Отдел продаж: (812) 960-28-60</p>
</div>
</div>
<!--<div id="language">
<div class="mod-languages">

<ul class="lang-inline">
<li class="lang-active" dir="ltr">
<a href="/it_theshop/index.php/en/">
<img src="{{ STATIC_URL }}images/en.gif" alt="English (UK)" title="English (UK)" />	 </a>
</li>
<li class="" dir="ltr">
<a href="/it_theshop/index.php/de/">
<img src="{{ STATIC_URL }}images/de.gif" alt="German" title="German" />	 </a>
</li>
<li class="" dir="ltr">
<a href="/it_theshop/index.php/nl/">
<img src="{{ STATIC_URL }}images/nl.gif" alt="Dutch" title="Dutch" />	 </a>
</li>
<li class="" dir="ltr">
<a href="/it_theshop/index.php/sv/">
<img src="{{ STATIC_URL }}images/sv.gif" alt="Suedish" title="Suedish" />	 </a>
</li>
</ul>

</div>
</div>-->
<div id="topmenu">
<ul class="menu">
<!--<li class="item-505"><a href="/it_theshop/index.php/en/my-account" >My Account</a></li>-->
<li class="item-506"><a href="/about/contacts/" >Свяжитесь с нами!</a></li></ul>
</div>
</div>
</div>
</div><!-- TopBar -->
<a id="ice-top"></a>
<!-- Header -->
<div id="header" class="clearfix">
<div class="wrapper">
<div id="logo">
<p><a href="/" style="display: block;height: 46px;line-height: 44px;font-size: 34px;color: black;text-decoration:none;text-shadow: 1px 1px 1px rgba(162, 162, 162, 1);"><!--<img src="{{ STATIC_URL }}images/logo.png" alt="Кондиционеры" />-->NWCLIMATE</a></p>
</div>
<div id="cart">
<div id="jshop_module_cart">
<div class="lof_jshop_top">
<div class="lof_top_1">
<span class="jshop_products">Товары: 0</span>
<span class="jshop_sum">0.00 RUR</span>
</div>
<div class="lof_top_2">
<a class="jshop_viewcart" href="/cart/">Корзина</a>
<!--<span class="jshop_readmore">Показать товары</span>-->
</div>
</div>
<div class="lof_jshop_bottom" style="display:none;">
<div class="lof_jshop_bottom_btn">
<a class="lof_left" href = "/cart/">Корзина</a>
<a class="lofclose" href = "javascript:void(0)">Закрыть</a>
</div>
</div>
</div>
</div>
<div id="search">
<script type = "text/javascript">
function isEmptyValue(value){
var pattern = /\S/;
return ret = (pattern.test(value)) ? (true) : (false);
}
</script>
<form name = "searchForm" method = "post" action="/catalog/search/" onsubmit = "return isEmptyValue(jQuery('#jshop_search').val())">
{% csrf_token %}
<input type="hidden" name="setsearchdata" value="1">
<input type = "text" class = "inputbox" name = "search" id = "jshop_search" size="30" onfocus="if (this.value=='Найти кондиционеры...') this.value='';" onblur="if (this.value=='') this.value='Найти кондиционеры...';" value="Найти кондиционеры..." />

<span>Типы</span>
<select id="type_id" name="type_id" class = "inputbox" size = "1" style="width:200px;" >
<option value="0">Все типы</option>
{% if types %}
{% for type in types %}
<option value="{{ type.id }}">{{ type.name }}</option>
{% endfor %}
{% endif %}
</select>
<input class = "button" type = "submit" value = "Go" /><br/>
<!--<a href="/catalog/search/">Расширенный поиск</a>-->
</form>
</div>
<!-- Main Nav -->
<div id="nav-wrapper">
<div class="icemegamenu">
<ul id="icemegamenu">
<li id="iceMenu_435" class="iceMenuLiLevel_1"><a href="/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Главная</span></a></li>
<!--<li id="iceMenu_294" class="iceMenuLiLevel_1 parent"><a href="/about/" class=" iceMenuTitle"><span class="icemega_title">О компании</span><span class="icemega_desc">О нас!</span></a></li>-->
<li id="iceMenu_480" class="iceMenuLiLevel_1"><a href="/catalog/" class=" iceMenuTitle"><span class="icemega_title">Каталог продукции</span><span class="icemega_desc">Наши товары</span></a></li>
<li id="iceMenu_536" class="iceMenuLiLevel_1"><a href="/about/payment/" class=" iceMenuTitle"><span class="icemega_title">Оплата и доставка</span><span class="icemega_desc">Обратите внимание!</span></a></li>
<li id="iceMenu_487" class="iceMenuLiLevel_1 parent"><a href="/about/installation/" class="iceMenuTitle mainParentBtn mainMenuParentBtn"><span class="icemega_title icemega_nosubtitle">Услуги</span></a>
{% if services %}
<ul class="icesubMenu sub_level_1" style="width:282px">
<li>
<div style="float:left;width:270px" class="iceCols">
<ul>
{% for service in services %}
<li id="iceMenu_{{ service.id }}" class="iceMenuLiLevel_2">
<a href="/services/{{ service.id }}/" class="iceMenuTitle subParentBtn mainMenuParentBtnFocused subMenuParentBtn" tabindex="-1"><span class="icemega_title icemega_nosubtitle">{{ service.name }}</span></a>
</li>
{% endfor %}
</ul>
</div>
</li>
</ul>
{% endif %}
</li>
<li id="iceMenu_503" class="iceMenuLiLevel_1"><a href="/about/contacts/" class=" iceMenuTitle"><span class="icemega_title">Контакты</span><span class="icemega_desc">Свяжитесь с нами!</span></a></li>
</ul></div>
<script type="text/javascript" defer>
window.addEvent('domready', function() {
if(document.getElementById('icemegamenu')!= null)
var myMenu = new MenuMatic({id:'icemegamenu',
effect:'slide & fade',
duration:600,
physics:Fx.Transitions.Pow.easeOut,
hideDelay:1000,
opacity:95
});
});
</script>
</div><!-- Main Nav -->
<!-- BreadCrumbs -->
</div>
</div><!-- Header -->
