<!-- TopBar -->
<div id="topbar_wrapper">
<div id="topbar">
<div class="wrapper">
<div id="contact_nr">

<div class="custom" >
<p>Отдел продаж: (812) 960-28-60</p>
</div>
</div>
<div id="topmenu">
<ul class="menu">
<li class="item-506"><a href="/about/contacts/" >Свяжитесь с нами!</a></li></ul>
</div>
</div>
</div>
</div><!-- TopBar -->
<a id="ice-top"></a>
<!-- Header -->
<div id="header" class="clearfix">
<div class="wrapper">
<div id="logo">
<p><a href="/" style="display: block;height: 46px;line-height: 44px;font-size: 34px;color: black;text-decoration:none;text-shadow: 1px 1px 1px rgba(162, 162, 162, 1);"><!--<img src="{{ STATIC_URL }}images/logo.png" alt="Кондиционеры" />-->NWCLIMATE</a></p>
</div>
<div id="search">
<script type = "text/javascript">
function isEmptyValue(value){
var pattern = /\S/;
return ret = (pattern.test(value)) ? (true) : (false);
}
</script>
<form name = "searchForm" method = "post" action="/catalog/search/result/">
{% csrf_token %}
<input type="hidden" name="setsearchdata" value="1">
<input type = "text" class = "inputbox" name = "search" id = "jshop_search" size="30" placeholder="Найти кондиционеры..." />

<span>Типы</span>
<select id="type_id" name="type_id" class = "inputbox" size = "1" style="width:200px;" >
<option value="0">Все типы</option>
{% if types %}
{% for type in types %}
<option value="{{ type.id }}">{{ type.name }}</option>
{% endfor %}
{% endif %}
</select>
<input class = "button" type = "submit" value = "Поиск" /><br/>
<a href="/catalog/search/">Расширенный поиск</a>
</form>
</div>
<!-- Main Nav -->
<div id="nav-wrapper">
<div class="icemegamenu">
<ul id="icemegamenu">
<li id="iceMenu_400" class="iceMenuLiLevel_1"><a class="iceMenuTitle mainParentBtn mainMenuParentBtn" href="/" title="На главную" style="padding: 0 15px 10px"><span style="background: url('{{ STATIC_URL }}images/home.png') no-repeat; display: block; height: 40px; width: 40px;"></span></a></li>
<li id="iceMenu_435" class="iceMenuLiLevel_1"><a class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Готовые решения</span></a>
    {% if prepared %}
        <ul class="icesubMenu sub_level_1" style="width:282px">
            <li>
                <div style="float:left;width:270px" class="iceCols">
                    <ul>
                        {% for item in prepared %}
                            <li id="iceMenu_{{ item.id }}" class="iceMenuLiLevel_2">
                                <a href="/prepared/{{ item.id }}/" class="iceMenuTitle subParentBtn mainMenuParentBtnFocused subMenuParentBtn" tabindex="-1" title="{{ item.name }}"><span class="icemega_title icemega_nosubtitle">{{ item.name }}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    {% endif %}
</li>
<!--<li id="iceMenu_294" class="iceMenuLiLevel_1 parent"><a href="/about/" class=" iceMenuTitle"><span class="icemega_title">О компании</span><span class="icemega_desc">О нас!</span></a></li>-->
<li id="iceMenu_480" class="iceMenuLiLevel_1"><a href="/catalog/" class=" iceMenuTitle" title="Каталог"><span class="icemega_title">Каталог</span><span class="icemega_desc">Наши товары</span></a></li>
<li id="iceMenu_536" class="iceMenuLiLevel_1"><a href="/about/payment/" class=" iceMenuTitle" title="Оплата и доставка"><span class="icemega_title">Оплата и доставка</span><span class="icemega_desc">Обратите внимание!</span></a></li>
<li id="iceMenu_487" class="iceMenuLiLevel_1 parent"><a class="iceMenuTitle mainParentBtn mainMenuParentBtn"><span class="icemega_title icemega_nosubtitle">Услуги</span></a>
{% if services %}
<ul class="icesubMenu sub_level_1" style="width:282px">
<li>
<div style="float:left;width:270px" class="iceCols">
<ul>
{% for service in services %}
<li id="iceMenu_{{ service.id }}" class="iceMenuLiLevel_2">
<a href="/services/{{ service.id }}/" class="iceMenuTitle subParentBtn mainMenuParentBtnFocused subMenuParentBtn" tabindex="-1" title="{{ service.name }}"><span class="icemega_title icemega_nosubtitle">{{ service.name }}</span></a>
</li>
{% endfor %}
</ul>
</div>
</li>
</ul>
{% endif %}
</li>
<li id="iceMenu_503" class="iceMenuLiLevel_1"><a href="/news/" class=" iceMenuTitle" title="Обзоры"><span class="icemega_title">Обзоры</span></a></li>
<li id="iceMenu_504" class="iceMenuLiLevel_1"><a href="/about/" class=" iceMenuTitle" title="О компании"><span class="icemega_title">О нас</span></a></li>
<li id="iceMenu_505" class="iceMenuLiLevel_1"><a href="/about/contacts/" class=" iceMenuTitle" title="Контакты"><span class="icemega_title">Контакты</span><span class="icemega_desc">Свяжитесь с нами!</span></a></li>
</ul></div>
<script type="text/javascript" defer>
window.addEvent('domready', function() {
if(document.getElementById('icemegamenu')!= null)
var myMenu = new MenuMatic({id:'icemegamenu',
effect:'slide & fade',
duration:600,
physics:Fx.Transitions.Pow.easeOut,
hideDelay:1000,
opacity:95
});
});
</script>
</div><!-- Main Nav -->
<!-- BreadCrumbs -->
</div>
</div><!-- Header -->
