<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru" dir="ltr" >
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Кондиционеры</title>
<!--<link href="/it_theshop/index.php/en/?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />-->
<!--<link href="/it_theshop/index.php/en/?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0" />-->
<link href="./favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/system.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/general.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/typography.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/modules.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/joomla.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/carousel/style.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/candy/style.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jshopping/style.css" type="text/css" />
<!--<link rel="stylesheet" href="./accordion/style.css" type="text/css" />-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/accordion/style.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/default_icemegamenu.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/cart/style.css" type="text/css" />
<!--<link rel="stylesheet" href="{{ STATIC_URL }}css/template.css" type="text/css" />-->
<!--<script src="{{ STATIC_URL }}js/mootools-core.js" type="text/javascript"></script>-->
<script src="{{ STATIC_URL }}js/core.js" type="text/javascript"></script>
<link type = "text/css" rel = "stylesheet" href = "{{ STATIC_URL }}css/icetheme.css" />
<script type = "text/javascript" src = "{{ STATIC_URL }}js/jquery.min.1.7.js"></script>
<script type = "text/javascript">jQuery.noConflict();</script>
<script type = "text/javascript" src = "{{ STATIC_URL }}js/jquery.media.js"></script>
<script type = "text/javascript" src = "{{ STATIC_URL }}js/functions.js"></script>
<style type="text/css" media="screen">
/* Select the style */
/*\*/@import url("{{ STATIC_URL }}css/style1.css");/**/
/* Left Columns Parameters */
#left-column { width: 240px;}
#content_inside { width: 705px;}
</style>
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Carme' rel='stylesheet' type='text/css'>
<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
<![endif]-->
<!--[if lte IE 9]>
<style type="text/css" media="screen">
#left-column .col-module h3.mod-title span:after {
border-width: 0.82em;
</style>
<![endif]-->
</head>
<body class="">
<div id="site_wrapper">
<!-- Accessibility 
<ol id="accessibility">
<li><a href="#nav-wrapper">Skip to Menu</a></li>
<li><a href="#content">Skip to Content</a></li>
<li><a href="#footer" >Skip to Footer</a></li>
</ol>
Accessibility -->
<!-- TopBar -->
<div id="topbar_wrapper">
<div id="topbar">
<div class="wrapper">
<div id="contact_nr">

<div class="custom" >
<p>Отдел продаж: 1-800-The-Shop</p>
</div>
</div>
<!--<div id="language">
<div class="mod-languages">

<ul class="lang-inline">
<li class="lang-active" dir="ltr">
<a href="/it_theshop/index.php/en/">
<img src="{{ STATIC_URL }}images/en.gif" alt="English (UK)" title="English (UK)" />	 </a>
</li>
<li class="" dir="ltr">
<a href="/it_theshop/index.php/de/">
<img src="{{ STATIC_URL }}images/de.gif" alt="German" title="German" />	 </a>
</li>
<li class="" dir="ltr">
<a href="/it_theshop/index.php/nl/">
<img src="{{ STATIC_URL }}images/nl.gif" alt="Dutch" title="Dutch" />	 </a>
</li>
<li class="" dir="ltr">
<a href="/it_theshop/index.php/sv/">
<img src="{{ STATIC_URL }}images/sv.gif" alt="Suedish" title="Suedish" />	 </a>
</li>
</ul>

</div>
</div>-->
<div id="topmenu">
<ul class="menu">
<!--<li class="item-505"><a href="/it_theshop/index.php/en/my-account" >My Account</a></li>-->
<li class="item-506"><a href="/about/contacts/" >Свяжитесь с нами!</a></li></ul>
</div>
</div>
</div>
</div><!-- TopBar -->
<a id="ice-top"></a>
<!-- Header -->
<div id="header" class="clearfix">
<div class="wrapper">
<div id="logo">
<p><a href="/"><img src="{{ STATIC_URL }}images/logo.png" alt="Кондиционеры" /></a></p>
</div>
<div id="cart">
<div id="jshop_module_cart">
<div class="lof_jshop_top">
<div class="lof_top_1">
<span class="jshop_products">Товары: 0</span>
<span class="jshop_sum">0.00 RUR</span>
</div>
<div class="lof_top_2">
<a class="jshop_viewcart" href="/cart/view">Корзина</a>
<!--<span class="jshop_readmore">Показать товары</span>-->
</div>
</div>
<div class="lof_jshop_bottom" style="display:none;">
<div class="lof_jshop_bottom_btn">
<a class="lof_left" href = "/cart/view">Корзина</a>
<a class="lofclose" href = "javascript:void(0)">Закрыть</a>
</div>
</div>
</div>
</div>
<div id="search">
<script type = "text/javascript">
function isEmptyValue(value){
var pattern = /\S/;
return ret = (pattern.test(value)) ? (true) : (false);
}
</script>
<form name = "searchForm" method = "post" action="/catalog/search/" onsubmit = "return isEmptyValue(jQuery('#jshop_search').val())">
{% csrf_token %}
<input type="hidden" name="setsearchdata" value="1">
<input type = "text" class = "inputbox" name = "search" id = "jshop_search" size="30" onfocus="if (this.value=='Найти кондиционеры...') this.value='';" onblur="if (this.value=='') this.value='Найти кондиционеры...';" value="Найти кондиционеры..." />

<span>Типы</span>
<select id="type_id" name="type_id" class = "inputbox" size = "1" style="width:200px;" >
<option value="0">Все типы</option>
{% if types %}
{% for type in types %}
<option value="{{ type.id }}">{{ type.name }}</option>
{% endfor %}
{% endif %}
</select>
<input class = "button" type = "submit" value = "Go" /><br/>
<!--<a href="/catalog/search/">Расширенный поиск</a>-->
</form>
</div>
<!-- Main Nav -->
<div id="nav-wrapper">
<div class="icemegamenu">
<ul id="icemegamenu">
<li id="iceMenu_435" class="iceMenuLiLevel_1"><a href="/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Главная</span></a></li>
<li id="iceMenu_294" class="iceMenuLiLevel_1 parent"><a href="/about/" class=" iceMenuTitle"><span class="icemega_title">О компании</span><span class="icemega_desc">О нас!</span></a></li>
<li id="iceMenu_480" class="iceMenuLiLevel_1 parent"><a href="/catalog/" class=" iceMenuTitle"><span class="icemega_title">Каталог продукции</span><span class="icemega_desc">Наши товары</span></a></li>
<li id="iceMenu_536" class="iceMenuLiLevel_1 parent"><a href="/about/payment/" class=" iceMenuTitle"><span class="icemega_title">Оплата и доставка</span><span class="icemega_desc">Обратите внимание!</span></a></li>
<li id="iceMenu_487" class="iceMenuLiLevel_1 parent"><a href="/about/installation/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Установка</span></a></li>
<li id="iceMenu_503" class="iceMenuLiLevel_1"><a href="/about/contacts/" class=" iceMenuTitle"><span class="icemega_title">Контакты</span><span class="icemega_desc">Свяжитесь с нами!</span></a></li>
</ul></div>
<!--<script type="text/javascript">
window.addEvent('domready', function() {
if(document.getElementById('icemegamenu')!= null)
var myMenu = new MenuMatic({id:'icemegamenu',
effect:'slide & fade',
duration:600,
physics:Fx.Transitions.Pow.easeOut,
hideDelay:1000,
opacity:95
});
});
</script>-->
</div><!-- Main Nav -->
<!-- BreadCrumbs -->
</div>
</div><!-- Header -->
<!-- Content -->
<div id="content" class="clearfix">
<div class="wrapper">
<!-- Left Column -->
<div id="left-column">
<div class="col-module ">
<div class="col-module">
<div class="col-module-header">
<h3 class="mod-title">Производители</h3>
<div class="col-module-header-arrow"></div>
</div>
<div class="col-module-content clearfix">
<!--<script type="text/javascript">
if(Browser.Engine.trident){
var zIndexNumber = 1000;
// Put your target element(s) in the selector below!
$$('div').each(function(el,i){
el.setStyle('z-index',zIndexNumber);
zIndexNumber -= 10;
});
};
</script>--> 
<div class="lofmenu_jshopping">
{% if producers %}
<ul class='lofmenu'>
{% for producer in producers %}
<li class='lofitem1'>
<a href='/catalog/producer/{{ producer.id }}/' ><span>{{ producer.name }} <!--<span class="counter">(9) </span>--></span></a>
</li>
{% endfor %}
</ul>
{% endif %}
<script language="javascript">
if(jQuery('.lofmenu_jshopping .lofmenu .lofitem1') ){
jQuery('.lofmenu_jshopping .lofmenu .lofitem1').find('ul').css({'visibility':'hidden'});
}
jQuery(document).ready(function(){
jQuery('.lofmenu_jshopping .lofmenu .lofitem1 ul').each(function(){
jQuery(this).find('li:first').addClass('loffirst');
})
jQuery('.lofmenu_jshopping .lofmenu li').each(function(){
jQuery(this).mouseenter(function(){
jQuery(this).addClass('lofactive');
jQuery(this).find('ul').css({'visibility':'visible'});
jQuery(this).find('ul li ul').css({'visibility':'hidden'});
});
jQuery(this).mouseleave(function(){
jQuery(this).removeClass('lofactive');
jQuery(this).find('ul').css({'visibility':'hidden'});
});
});
});
</script> </div>
</div>
</div>
<div class="col-module ">
<div class="col-module-style1">
<div class="col-module-header">
<h3 class="mod-title">Типы</h3>
<div class="col-module-header-arrow"></div>
</div>
<div class="col-module-content clearfix">
<div class="lofmenu_jshopping">
{% if types %}
<ul class='lofmenu'>
{% for type in types %}
<li class='lofitem1'>
<a href='/catalog/types/{{ type.id }}/' ><span>{{ type.name }} <!--<span class="counter">(9) </span>--></span></a>
</li>
{% endfor %}
</ul>
{% endif %}

</div>
</div>
</div>
<!--<div class="col-module ">
<div class="col-module">
<div class="col-module-content clearfix">
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ficetheme&amp;width=220&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=395" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:395px;" allowTransparency="true"></iframe>
</div>
</div>
</div>-->
<!--<div class="col-module ">
<div class="col-module">
<div class="col-module-header">
<h3 class="mod-title">Payment Methods</h3>
<div class="col-module-header-arrow"></div>
</div>
<div class="col-module-content clearfix">

<div class="custom" >
<p>We accept all major credit cards as well as PayPal payments</p>
<p style="text-align: center;"><img src="{{ STATIC_URL }}images/cards.jpg" border="0" alt="Credit Cards" width="160" /></p></div>
</div>
</div>
</div>-->
</div> 
</div>
</div>
<!-- Left Column -->
<!-- Content Inside -->
<div id="content_inside">
<!-- Middle Column -->
<div id="middle-column">
<div class="padding">
<!-- JShopping Modules -->
<div id="jshopping-mods" class="clearfix">
{% block content %}{% endblock %}
</div><!-- JShopping Modules -->
<div id="system-message-container">
</div>
<div class="blog-featured blog-featured">
</div>
</div>
</div><!-- Middle Column -->
</div><!-- Content Inside -->
</div>
</div><!-- Content -->
<!-- Footer -->
<div id="footer">
<div class="wrapper clearfix">
<div class="width25 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Заказ
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu">
<li class="item-517"><a href="/about/payment/" >Оплата и доставка</a></li>
</div>
</div>
</div>
</div>
<div class="width25 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Продукция
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu">
<li class="item-518"><a href="/catalog/">Каталог продукции</a></li>
<li class="item-519"><a href="/about/installation/" >Установка</a></li>
</div>
</div>
</div>
</div>
<div class="width25 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">О компании
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu">
<li class="item-523"><a href="/about/" >О нас</a></li>
<li class="item-527"><a href="/about/contacts/" >Контакты</a></li></ul>
</div>
</div>
</div>
</div>
<div class="width25 floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Get Connected
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu" id="connect">
<li class="item-528"><a href="#41" ><img src="{{ STATIC_URL }}images/icon_facebook.png" alt="Facebook Page" /><span class="image-title">Facebook Page</span> </a></li>
<li class="item-529"><a href="#42" ><img src="{{ STATIC_URL }}images/icon_twitter.png" alt="Twitter Page" /><span class="image-title">Twitter Page</span> </a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div><!-- Footer -->
<!-- Copyright -->
<div id="copyright">
<div class="wrapper">
<!--<div id="icelogo">
<p><a href="http://www.icetheme.com"><span>Joomla Template Designed by IceTheme</span></a></p>
</div>-->
<div id="copyrightmenu">
<!--<ul class="menu">
<li class="item-532"><a href="#" >Terms of Use</a></li><li class="item-533"><a href="#" >Copyright</a></li><li class="item-534"><a href="#" >Privacy &amp; Policy</a></li></ul>-->
</div>
<div id="copytext" class="floatleft">
<div class="footer1">Copyright &#169; {% now "Y" %}</div>
</div>
<!--<script type="text/javascript">
window.addEvent('domready',function() { new SmoothScroll({ duration: 800 }); })
</script>-->
<a id="go2top" href="#topbar" class="hasTip" title="Go to Top" ><span>Go to Top</span></a>
</div>
</div><!-- Copyright -->
<!-- javascript code to make J! tooltips -->
<!--<script type="text/javascript">
window.addEvent('domready', function() {
$$('.hasTip').each(function(el) {
var title = el.get('title');
if (title) {
var parts = title.split('::', 2);
el.store('tip:title', parts[0]);
el.store('tip:text', parts[1]);
}
});
var JTooltips = new Tips($$('.hasTip'), { fixed: false});
});
</script>-->
</body>
</html>

