<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru" dir="ltr" >
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Home (English)</title>
<!--<link href="/it_theshop/index.php/en/?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />-->
<!--<link href="/it_theshop/index.php/en/?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0" />-->
<link href="./favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="./css/system.css" type="text/css" />
<link rel="stylesheet" href="./css/general.css" type="text/css" />
<link rel="stylesheet" href="./css/reset.css" type="text/css" />
<link rel="stylesheet" href="./css/typography.css" type="text/css" />
<link rel="stylesheet" href="./css/forms.css" type="text/css" />
<link rel="stylesheet" href="./css/modules.css" type="text/css" />
<link rel="stylesheet" href="./css/joomla.css" type="text/css" />
<link rel="stylesheet" href="./css/layout.css" type="text/css" />
<link rel="stylesheet" href="./css/carousel/style.css" type="text/css" />
<link rel="stylesheet" href="./css/candy/style.css" type="text/css" />
<link rel="stylesheet" href="./css/jshopping/style.css" type="text/css" />
<!--<link rel="stylesheet" href="./accordion/style.css" type="text/css" />-->
<link rel="stylesheet" href="./css/accordion/style.css" type="text/css" />
<link rel="stylesheet" href="./css/default_icemegamenu.css" type="text/css" />
<link rel="stylesheet" href="./css/cart/style.css" type="text/css" />
<!--<link rel="stylesheet" href="./css/template.css" type="text/css" />-->
<!--<script src="./js/mootools-core.js" type="text/javascript"></script>-->
<script src="./js/core.js" type="text/javascript"></script>
<link type = "text/css" rel = "stylesheet" href = "./css/icetheme.css" />
<script type = "text/javascript" src = "./js/jquery.min.1.7.js"></script>
<script type = "text/javascript">jQuery.noConflict();</script>
<script type = "text/javascript" src = "./js/jquery.media.js"></script>
<script type = "text/javascript" src = "./js/functions.js"></script>
<style type="text/css" media="screen">
/* Select the style */
/*\*/@import url("./css/style1.css");/**/
/* Left Columns Parameters */
#left-column { width: 240px;}
#content_inside { width: 705px;}
</style>
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Carme' rel='stylesheet' type='text/css'>
<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" href="./css/ie.css" />
<![endif]-->
<!--[if lte IE 9]>
<style type="text/css" media="screen">
#left-column .col-module h3.mod-title span:after {
border-width: 0.82em;
</style>
<![endif]-->
</head>
<body class="">
<div id="site_wrapper">
<!-- Accessibility -->
<ol id="accessibility">
<li><a href="#nav-wrapper">Skip to Menu</a></li>
<li><a href="#content">Skip to Content</a></li>
<li><a href="#footer" >Skip to Footer</a></li>
</ol><!-- Accessibility -->
<!-- TopBar -->
<div id="topbar_wrapper">
<div id="topbar">
<div class="wrapper">
<div id="contact_nr">

<div class="custom" >
<p>Contact Sales: 1-800-The-Shop</p></div>
</div>
<div id="language">
<div class="mod-languages">

<ul class="lang-inline">
<li class="lang-active" dir="ltr">
<a href="/it_theshop/index.php/en/">
<img src="./images/en.gif" alt="English (UK)" title="English (UK)" />	 </a>
</li>
<li class="" dir="ltr">
<a href="/it_theshop/index.php/de/">
<img src="./images/de.gif" alt="German" title="German" />	 </a>
</li>
<li class="" dir="ltr">
<a href="/it_theshop/index.php/nl/">
<img src="./images/nl.gif" alt="Dutch" title="Dutch" />	 </a>
</li>
<li class="" dir="ltr">
<a href="/it_theshop/index.php/sv/">
<img src="./images/sv.gif" alt="Suedish" title="Suedish" />	 </a>
</li>
</ul>

</div>
</div>
<div id="topmenu">
<ul class="menu">
<li class="item-505"><a href="/it_theshop/index.php/en/my-account" >My Account</a></li><li class="item-506"><a href="/it_theshop/index.php/en/contact-us" >Contact Us</a></li></ul>
</div>
</div>
</div>
</div><!-- TopBar -->
<a id="ice-top"></a>
<!-- Header -->
<div id="header" class="clearfix">
<div class="wrapper">
<div id="logo">
<p><a href="/it_theshop"><img src="./images/logo.png" alt="IT TheShop - August 2011 JoomShopping Template" /></a></p>
</div>
<div id="cart">
<div id="jshop_module_cart">
<div class="lof_jshop_top">
<div class="lof_top_1">
<span class="jshop_products">0&nbsp;Products</span>
<span class="jshop_sum">0.00 EUR</span>
</div>
<div class="lof_top_2">
<a class="jshop_viewcart" href="/it_theshop/index.php/en/joomshopping/cart/view">View Cart</a>
<span class="jshop_readmore">Show Products</span>
</div>
</div>
<div class="lof_jshop_bottom" style="display:none;">
<div class="lof_jshop_bottom_btn">
<a class="lof_left" href = "/it_theshop/index.php/en/joomshopping/cart/view">View Cart</a>
<a class="lofclose" href = "javascript:void(0)">Close</a>
</div>
</div>
</div>
</div>
<div id="search">
<script type = "text/javascript">
function isEmptyValue(value){
var pattern = /\S/;
return ret = (pattern.test(value)) ? (true) : (false);
}
</script>
<form name = "searchForm" method = "post" action="/it_theshop/index.php/en/joomshopping/search/result" onsubmit = "return isEmptyValue(jQuery('#jshop_search').val())">
<input type="hidden" name="setsearchdata" value="1">
<input type = "text" class = "inputbox" name = "search" id = "jshop_search" size="30" onfocus="if (this.value=='Find Your Next Deal...') this.value='';" onblur="if (this.value=='') this.value='Find Your Next Deal...';" value="Find Your Next Deal..." />

<span>Категории</span>
<select id="category_id" name="category_id" class = "inputbox" size = "1" >
<option value="0" selected="selected">All categories</option>
<option value="1">Books</option>
<option value="2">Cameras &amp; Photo</option>
<option value="3">Cell Phones &amp; PDAs</option>
<option value="4">Computers</option>
<option value="14">-- Accessories</option>
<option value="33">-- -- Mouse</option>
<option value="34">-- -- Keyboards</option>
<option value="35">-- -- Webcam Products</option>
<option value="36">-- -- Computer Speakers</option>
<option value="37">-- -- Wireless USB</option>
<option value="38">-- -- Laptop Cases</option>
<option value="5">-- Apple Computers</option>
<option value="15">-- Desktop Computers</option>
<option value="16">-- Drives</option>
<option value="17">-- LCD Display</option>
<option value="18">-- Memory</option>
<option value="19">-- Printers &amp; Supplies</option>
<option value="6">Clothing</option>
<option value="26">-- Women's Tops</option>
<option value="27">-- Men's Tops</option>
<option value="28">-- Women's Bottoms</option>
<option value="29">-- Men's Bottoms</option>
<option value="30">-- Children</option>
<option value="31">-- Men's Shoes</option>
<option value="32">-- Women's Shoes</option>
<option value="7">Health &amp; Beauty</option>
<option value="8">Home &amp; Garden</option>
<option value="9">Jewelry &amp; Watches</option>
<option value="20">-- Pendants</option>
<option value="21">-- Earrings</option>
<option value="22">-- Bracelets</option>
<option value="23">-- Rings</option>
<option value="24">-- Men's Watches</option>
<option value="25">-- Women's Watches</option>
<option value="10">Movies &amp; Music</option>
<option value="11">Software</option>
<option value="12">Toys, Baby &amp; Kids</option>
<option value="13">Video Games</option>
</select>
<input type="checkbox" value="1" id="include_subcat" name="include_subcat" checked="checked" disabled="disabled" >
<label for="include_subcat">Include subcategories</label>
<input class = "button" type = "submit" value = "Go" />
<a href="/it_theshop/index.php/en/joomshopping/search" id="jshopping_adv_search">Advanced search</a>
</form>
</div>
<!-- Main Nav -->
<div id="nav-wrapper">
<div class="icemegamenu">
<ul id="icemegamenu">
<li id="iceMenu_435" class="iceMenuLiLevel_1"><a href="http://demo.icetheme.com/it_theshop/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Home</span></a></li>
<li id="iceMenu_294" class="iceMenuLiLevel_1 parent"><a href="/it_theshop/index.php/en/features" class=" iceMenuTitle"><span class="icemega_title">Features</span><span class="icemega_desc">Hot!</span></a></li>
<li id="iceMenu_480" class="iceMenuLiLevel_1 parent"><a href="/it_theshop/index.php/en/extensions" class=" iceMenuTitle"><span class="icemega_title">Extensions</span><span class="icemega_desc">Free</span></a></li>
<li id="iceMenu_536" class="iceMenuLiLevel_1 parent"><a class=" iceMenuTitle"><span class="icemega_title">Template Styles</span><span class="icemega_desc">6 styles</span></a></li>
<li id="iceMenu_487" class="iceMenuLiLevel_1 parent"><a class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Joomla</span></a></li>
<li id="iceMenu_503" class="iceMenuLiLevel_1"><a href="/it_theshop/index.php/en/joomshopping" class=" iceMenuTitle"><span class="icemega_title">JoomShopping</span><span class="icemega_desc">e-commerce ready</span></a></li>
</ul></div>
<!--<script type="text/javascript">
window.addEvent('domready', function() {
if(document.getElementById('icemegamenu')!= null)
var myMenu = new MenuMatic({id:'icemegamenu',
effect:'slide & fade',
duration:600,
physics:Fx.Transitions.Pow.easeOut,
hideDelay:1000,
opacity:95
});
});
</script>-->
</div><!-- Main Nav -->
<!-- BreadCrumbs -->
</div>
</div><!-- Header -->
<!-- Content -->
<div id="content" class="clearfix">
<div class="wrapper">
<!-- Left Column -->
<div id="left-column">
<div class="col-module ">
<div class="col-module">
<div class="col-module-header">
<h3 class="mod-title">Производители</h3>
<div class="col-module-header-arrow"></div>
</div>
<div class="col-module-content clearfix">
<!--<script type="text/javascript">
if(Browser.Engine.trident){
var zIndexNumber = 1000;
// Put your target element(s) in the selector below!
$$('div').each(function(el,i){
el.setStyle('z-index',zIndexNumber);
zIndexNumber -= 10;
});
};
</script>--> 
<div class="lofmenu_jshopping">
{% if producers %}
<ul class='lofmenu'>
{% for producer in producers %}
<li class='lofitem1'>
<a href='/catalog/producer/{{ producer.id }}/' ><span>{{ producer.name }} <!--<span class="counter">(9) </span>--></span></a>
</li>
{% endfor %}
</ul>
{% endif %}
<script language="javascript">
if(jQuery('.lofmenu_jshopping .lofmenu .lofitem1') ){
jQuery('.lofmenu_jshopping .lofmenu .lofitem1').find('ul').css({'visibility':'hidden'});
}
jQuery(document).ready(function(){
jQuery('.lofmenu_jshopping .lofmenu .lofitem1 ul').each(function(){
jQuery(this).find('li:first').addClass('loffirst');
})
jQuery('.lofmenu_jshopping .lofmenu li').each(function(){
jQuery(this).mouseenter(function(){
jQuery(this).addClass('lofactive');
jQuery(this).find('ul').css({'visibility':'visible'});
jQuery(this).find('ul li ul').css({'visibility':'hidden'});
});
jQuery(this).mouseleave(function(){
jQuery(this).removeClass('lofactive');
jQuery(this).find('ul').css({'visibility':'hidden'});
});
});
});
</script> </div>
</div>
</div>
<div class="col-module ">
<div class="col-module-style1">
<div class="col-module-header">
<h3 class="mod-title">Типы</h3>
<div class="col-module-header-arrow"></div>
</div>
<div class="col-module-content clearfix">
<div class="lofmenu_jshopping">
{% if types %}
<ul class='lofmenu'>
{% for type in types %}
<li class='lofitem1'>
<a href='/catalog/producer/{{ type.id }}/' ><span>{{ type.name }} <!--<span class="counter">(9) </span>--></span></a>
</li>
{% endfor %}
</ul>
{% endif %}

</div>
</div>
</div>
<div class="col-module ">
<div class="col-module">
<div class="col-module-content clearfix">
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ficetheme&amp;width=220&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=395" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:395px;" allowTransparency="true"></iframe>
</div>
</div>
</div>
<div class="col-module ">
<div class="col-module">
<div class="col-module-header">
<h3 class="mod-title">Payment Methods</h3>
<div class="col-module-header-arrow"></div>
</div>
<div class="col-module-content clearfix">

<div class="custom" >
<p>We accept all major credit cards as well as PayPal payments</p>
<p style="text-align: center;"><img src="./images/cards.jpg" border="0" alt="Credit Cards" width="160" /></p></div>
</div>
</div>
</div>
</div> <!-- Left Column -->
<!-- Content Inside -->
<div id="content_inside">
<!-- Middle Column -->
<div id="middle-column">
<div class="padding">
<!-- JShopping Modules -->
<div id="jshopping-mods" class="clearfix">
{% block content %}{% endblock %}
</div><!-- JShopping Modules -->
<div id="system-message-container">
</div>
<div class="blog-featured blog-featured">
</div>
</div>
</div><!-- Middle Column -->
</div><!-- Content Inside -->
<!-- Bottom -->
<div id="bottom" class="clearfix">
<div class="width33 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Joomla 1.7 Template
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">

<div class="custom" >
<p><img src="./images/image1.jpg" border="0" alt="Image" width="80" height="80" /> Stay updated with the latest technology! IT TheShop is the first released Joomla 1.7 Template by IceTheme Club.</p></div>
</div>
</div>
</div>
</div>
<div class="width33 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">New IceCarosuel Mod
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">

<div class="custom" >
<p><img src="./images/image2.jpg" border="0" alt="Image" width="80" height="80" /> Maximum flexibility has never been easier for your website. The new IceCarosuel module will give your content another meaning!</p></div>
</div>
</div>
</div>
</div>
<div class="width33 floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">JoomShopping Ready!
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">

<div class="custom" >
<p><img src="./images/image3.jpg" border="0" alt="Image" width="80" height="80" /> Put your next E-commerce website online within the next 15 minutes. Everything's made ready with JoomShopping extension.</p></div>
</div>
</div>
</div>
</div>
</div><!-- Bottom -->
</div>
</div><!-- Content -->
<!-- Footer -->
<div id="footer">
<div class="wrapper clearfix">
<div class="width25 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Order Support
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu">
<li class="item-513"><a href="#1" >Order Status</a></li><li class="item-514"><a href="#2" >Store Pickup</a></li><li class="item-515"><a href="#3" >Store Pickup</a></li><li class="item-516"><a href="#4" >Returns &amp; Refunds</a></li><li class="item-517"><a href="#5" >Customer Service</a></li></ul>
</div>
</div>
</div>
</div>
<div class="width25 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Product Support
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu">
<li class="item-518"><a href="#11" >Installation &amp; Delivery</a></li><li class="item-519"><a href="#12" >Product Recalls</a></li><li class="item-520"><a href="#13" >Buy Back Program</a></li><li class="item-521"><a href="#14" >Trade-in Center</a></li><li class="item-522"><a href="#15" >Recycling</a></li></ul>
</div>
</div>
</div>
</div>
<div class="width25 separator floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Corporate Info
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu">
<li class="item-523"><a href="#21" >About TheShop</a></li><li class="item-524"><a href="#22" >Careers</a></li><li class="item-525"><a href="#23" >Sustainability</a></li><li class="item-526"><a href="#24" >Affiliate Program</a></li><li class="item-527"><a href="#25" >Contact Us</a></li></ul>
</div>
</div>
</div>
</div>
<div class="width25 floatleft">
<div class="moduletable ">
<div class="moduletable ">
<h3 class="mod-title">Get Connected
<em class="col-module-header-arrow"></em></h3>
<div class="moduletable_content clearfix">
<ul class="menu" id="connect">
<li class="item-528"><a href="#41" ><img src="./images/icon_facebook.png" alt="Facebook Page" /><span class="image-title">Facebook Page</span> </a></li><li class="item-529"><a href="#42" ><img src="./images/icon_twitter.png" alt="Twitter Page" /><span class="image-title">Twitter Page</span> </a></li><li class="item-530"><a href="#43" ><img src="./images/icon_youtube.png" alt="YouTube Channel" /><span class="image-title">YouTube Channel</span> </a></li><li class="item-531"><a href="#44" ><img src="./images/icon_rss.png" alt="RSS Feeds" /><span class="image-title">RSS Feeds</span> </a></li></ul>
</div>
</div>
</div>
</div>
</div>
</div><!-- Footer -->
<!-- Copyright -->
<div id="copyright">
<div class="wrapper">
<!--<div id="icelogo">
<p><a href="http://www.icetheme.com"><span>Joomla Template Designed by IceTheme</span></a></p>
</div>-->
<div id="copyrightmenu">
<ul class="menu">
<li class="item-532"><a href="#" >Terms of Use</a></li><li class="item-533"><a href="#" >Copyright</a></li><li class="item-534"><a href="#" >Privacy &amp; Policy</a></li></ul>
</div>
<div id="copytext" class="floatleft">
<div class="footer1">Copyright &#169; 2012 IT TheShop - August 2011 JoomShopping Template. All Rights Reserved.</div>
<div class="footer2"><a href="http://www.joomla.org">Joomla!</a> is Free Software released under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License.</a></div>
</div>
<!--<script type="text/javascript">
window.addEvent('domready',function() { new SmoothScroll({ duration: 800 }); })
</script>-->
<a id="go2top" href="#topbar" class="hasTip" title="Go to Top" ><span>Go to Top</span></a>
<div id="fb-like">
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Ficetheme&amp;layout=standard&amp;show_faces=false&amp;width=960&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=30" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:960px; height:30px;" allowTransparency="true"></iframe>
</div>
</div>
</div><!-- Copyright -->
<!-- javascript code to make J! tooltips -->
<!--<script type="text/javascript">
window.addEvent('domready', function() {
$$('.hasTip').each(function(el) {
var title = el.get('title');
if (title) {
var parts = title.split('::', 2);
el.store('tip:title', parts[0]);
el.store('tip:text', parts[1]);
}
});
var JTooltips = new Tips($$('.hasTip'), { fixed: false});
});
</script>-->
</body>
</html>

