{% extends "base.html" %}
{% block title %}Каталог продукции{% endblock %}
{% block content %}
<div class="moduletable ">
	<div class="moduletable ">
	<h3 class="mod-title">Каталог продукции<em class="col-module-header-arrow"></em></h3>
	</div>
</div>
{% if types %}

{% for type in types %}
{% if not forloop.first and forloop.counter0|divisibleby:"2" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if forloop.first or forloop.counter0|divisibleby:"2" %}
<div class="moduletable ">
	<div class="moduletable ">	
		<div class="moduletable_content clearfix">
			<div id="icecarousel125" class="ice-carousel" style="width:685px">
				<div class="ice-main-wapper" style="width:685px">
					<div class="ice-main-item page-1">
{% endif %}
					
						<div class="ice-row" style="width:50%">
							<div class="lof-inner">
								<h4 class="heading"><a target="_parent" href="/catalog/types/{{ type.id }}/" title="{{ type.name }}">{{ type.name }}</a></h4>
								<div class="carousel_content">
									<div class="padding jshopping_padding">
										<div class="iceTip" rel="{% if type.image %}{{ type.image.url }}{% endif %}" title="{{ type.name }}">										
											<a target="_parent" href="/catalog/types/{{ type.id }}/" title="{{ type.name }}">{% if type.image %}<img src="{{ type.image.url }}" title="{{ type.name }}" alt="{{ type.name }}" width="120px" height="75px">{% endif %}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
{% if forloop.last %}						
					</div> 
				</div>
				<!-- END MAIN CONTENT of ARTICLESCROLLER MODULE -->
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endfor %}
{% endif %}

<div class="moduletable ">
	<div class="moduletable ">
	<h3 class="mod-title">Тепловое оборудование<em class="col-module-header-arrow"></em></h3>
	</div>
</div>

{% if thermal_types %}

{% for type in thermal_types %}
{% if not forloop.first and forloop.counter0|divisibleby:"2" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if forloop.first or forloop.counter0|divisibleby:"2" %}
<div class="moduletable ">
	<div class="moduletable ">
		<div class="moduletable_content clearfix">
			<div id="icecarousel125" class="ice-carousel" style="width:685px">
				<div class="ice-main-wapper" style="width:685px">
					<div class="ice-main-item page-1">
{% endif %}

						<div class="ice-row" style="width:50%">
							<div class="lof-inner">
								<h4 class="heading"><a target="_parent" href="/thermal/types/{{ type.id }}/" title="{{ type.name }}">{{ type.name }}</a></h4>
								<div class="carousel_content">
									<div class="padding jshopping_padding">
										<div class="iceTip" rel="{% if type.image %}{{ type.image.url }}{% endif %}" title="{{ type.name }}">
											<a target="_parent" href="/thermal/types/{{ type.id }}/" title="{{ type.name }}">{% if type.image %}<img src="{{ type.image.url }}" title="{{ type.name }}" alt="{{ type.name }}" width="120px" height="75px">{% endif %}</a>
										</div>
									</div>
								</div>
							</div>
						</div>

{% if forloop.last %}
					</div>
				</div>
				<!-- END MAIN CONTENT of ARTICLESCROLLER MODULE -->
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endfor %}
{% endif %}


<div class="moduletable ">
	<div class="moduletable ">
	<h3 class="mod-title">Увлажнители и очистители воздуха<em class="col-module-header-arrow"></em></h3>
	</div>
</div>

{% if purifier_types %}

{% for type in purifier_types %}
{% if not forloop.first and forloop.counter0|divisibleby:"2" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if forloop.first or forloop.counter0|divisibleby:"2" %}
<div class="moduletable ">
	<div class="moduletable ">
		<div class="moduletable_content clearfix">
			<div id="icecarousel125" class="ice-carousel" style="width:685px">
				<div class="ice-main-wapper" style="width:685px">
					<div class="ice-main-item page-1">
{% endif %}

						<div class="ice-row" style="width:50%">
							<div class="lof-inner">
								<h4 class="heading"><a target="_parent" href="/purifier/types/{{ type.id }}/" title="{{ type.name }}">{{ type.name }}</a></h4>
								<div class="carousel_content">
									<div class="padding jshopping_padding">
										<div class="iceTip" rel="{% if type.image %}{{ type.image.url }}{% endif %}" title="{{ type.name }}">
											<a target="_parent" href="/purifier/types/{{ type.id }}/" title="{{ type.name }}">{% if type.image %}<img src="{{ type.image.url }}" title="{{ type.name }}" alt="{{ type.name }}" width="120px" height="75px">{% endif %}</a>
										</div>
									</div>
								</div>
							</div>
						</div>

{% if forloop.last %}
					</div>
				</div>
				<!-- END MAIN CONTENT of ARTICLESCROLLER MODULE -->
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endfor %}
{% endif %}

{% endblock %}
