{% extends "base.html" %}

{% block content %}
<div class="moduletable ">
	<div class="moduletable ">
		<h3 class="mod-title">Результаты поиска<em class="col-module-header-arrow"></em></h3>
		<div class="moduletable_content clearfix"></div>
	</div>
</div>
{% if products %}

{% for product in products %}
{% if not forloop.first and forloop.counter0|divisibleby:"3" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if forloop.first or forloop.counter0|divisibleby:"3" %}
<div class="moduletable ">
	<div class="moduletable ">	
		<div class="moduletable_content clearfix">
			<div id="icecarousel125" class="ice-carousel" style="width:685px">
				<div class="ice-main-wapper" style="width:685px">
					<div class="ice-main-item page-1">
					
{% endif %}
						<div class="ice-row" style="width:33.2333333333%">
							<div class="lof-inner">
								<h4 class="heading"><a target="_parent" href="/catalog/product/{{ product.id }}/" title="{{ product.name }}">{{ product.name }}</a></h4>
								<div class="carousel_content">
									<div class="padding jshopping_padding">
										<div class="iceTip" rel="{% if product.image %}{{ product.image.url }}{% endif %}" title="{{ product.name }}">
											<!--<div class="product_label"><img src="./images/new.png" alt="New"></div>-->
											<a target="_parent" href="/catalog/product/{{ product.id }}/" title="{{ product.name }}">{% if product.image %}<img src="{{ product.image.url }}" title="{{ product.name }}" alt="{{ product.name }}">{% endif %}</a>
										</div>
										<div class="jshop_price">до {{ product.area|floatformat }} кв.м</div>
										<div class="jshop_price">{{ product.price|floatformat }} руб</div>
										<div class="description">{{ product.announce }}</div>
										<!--<table class="review_mark"><tbody><tr><td><div class="stars_no_active" style="width:80px"><div class="stars_active" style="width:72px"></div></div> </td></tr></tbody></table>-->
										<!--<div class="count_commentar">Comments (13) </div>-->
										<p class="readmore"><a target="_parent" href="/catalog/product/{{ product.id }}/" title="{{ product.name }}">Подробнее</a></p>
									</div>
								</div>
							</div>
						</div>
						
{% if forloop.last %}						
					</div> 
				</div>
				<!-- END MAIN CONTENT of ARTICLESCROLLER MODULE -->
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endfor %}
{% endif %}
{% endblock %}

